.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.d-span{
    color: darkorange;
}

nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.title-f{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
   
}

nav ul li{
    list-style: none;
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
}
.dark-c{
    color: dimgrey;
}

.header{
    background-image: url(images/developer\ \(1\).png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.head-4{
    font-weight: 600;
    font-size: 45px;
   
}
.second-bg
{
    background-color: #FFF8F3;
}



.head-main{
 font-size: 85px;
 font-weight: bold;
}
.banner-dis{
    font-weight: 400;
    font-size: 20px;
}

.banner{ 
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 200px;
}

.content{
 width: 600px;
}
.butn-main{
    background-color: darkorange;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.img-main{
   
    width: 600px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.desc{
    font-size: 18px;
    color: #757575;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}


.about{
    border-radius: 10px;
padding: 130px 150px;
text-align: center;
margin-top: 130px;

}
.item-description{
    font-weight: bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.section-skills{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.skill-container{
    display: flex ;
    gap: 25px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(193, 185, 185);
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}





